// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import "font-awesome";
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  width: 100%;
  height: 5em;
  background: #333333;
  margin-top: 0;
  div > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-block-start: 0;
    li {
      padding-left: 2em;
      padding-top: 1.5em;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  height: 120vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/30/ny-filtered.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1508&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  h1 {
    color: #333333;
    font-size: 5.5em;
    font-weight: 600;
    margin-top: -3em;
  }
  button {
    width: 15em;
    height: 2.5em;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    background: #333333;
    color: white;
    border: none;
    margin-top: 2em;
  }
}
.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  height: 65vh;

  .content {
    display: block;
    button {
      width: 15em;
      height: 2em;
      padding: 0;
      font-family: "Open Sans", sans-serif;
      font-size: 1.5em;
      font-weight: 600;
      background: none;
      border: 1px solid #333333;
      color: #333333;

      margin-top: 2em;
    }
    .icon {
      font-size: 3em;
    }
  }
}
footer {
  margin-top: 1em;
  height: 8em;
  width: 100%;
  display: inline-block;
  background: #333333;
  color: white;
  text-align: left;
}
